<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyx.movie.mapper.MovieInListMapper">

    <resultMap id="BaseResultMap" type="com.yyx.movie.model.entity.MovieInList">
            <id property="movieInListId" column="movieInListId" jdbcType="BIGINT"/>
            <result property="movieListId" column="movieListId" jdbcType="BIGINT"/>
            <result property="movieId" column="movieId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        movieInListId,movieListId,movieId,createTime,updateTime,isDelete
    </sql>
</mapper>
